/* .heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
} */

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl span {
    color: #ff001f;
    text-decoration: none;
}
.headingXl span:hover {
    color: #fff;
    background-color: #ff001f;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

/* .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
} */

/* .borderCircle {
    border-radius: 9999px;
} */

.borderCircle:hover {
    background-color: #fff;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.article {
    margin: auto;
    font-size: 14px;
}

@keyframes highlights {
    0% {
        background-color: #fff;
    }

    50% {
        background-color: #ff0;
    }

    100% {
        background-color: #fff;
    }
}

div.lightText {
    margin-bottom: 20px;
    color: #666;
}

div.lightText .highlight {
    /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
    animation: highlights 1.25s ease 0.2s 1 normal forwards running;
}
