@keyframes highlights {
    from {
        background-color: yellow;
    }

    to {
        background-color: #fff;
    }
}

div.meta {
    margin-bottom: 20px;
    color: #777;
}

div.meta .highlight {
    /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
    animation: highlights 1s ease 0s 1 normal forwards running;
}
